nav{
    background:#333;
    height:40px;
    padding:5px;
}
nav .brand{
    display:block;
    margin-left:5px;
    width:200px;
    position:relative;
    z-index:1;
}
.brand .bookicon{
    display:block;
    height:25px;
    width:25px;
    position:absolute;
    left:34px;
    top:16px;
    z-index:2;
}
.brand .bookicon .wrapper{
    display:block;
    height:25px;
    width:25px;
    position:relative;
}
.brand .bookicon .wrapper .bottom-left-line{
    position:absolute;
    bottom:12px;
    left:2px;
    display:inline-block;
    width:10px;
    border-bottom:3px solid orange;
    transform:rotate(30deg);
}
.brand .bookicon .wrapper .bottom-right-line{
    position:absolute;
    bottom:12px;
    right:2px;
    display:inline-block;
    width:10px;
    border-bottom:3px solid orange;
    transform:rotate(-30deg);
}

.brand .bookicon .wrapper .bottom-middle-line{
    position:absolute;
    bottom:9px;
    right:11px;
    display:inline-block;
    width:3px;
    border-bottom:3px solid orange;
}
.brand .bookicon .wrapper .middle-left-line{
    position: absolute;
    bottom: 15px;
    left: 5px;
    display: inline-block;
    width: 8px;
    border-bottom: 2px solid orange;
    transform: rotate(35deg);
}
.brand .bookicon .wrapper .middle-right-line{
    position: absolute;
    bottom: 15px;
    right: 5px;
    display: inline-block;
    width: 8px;
    border-bottom: 2px solid orange;
    transform: rotate(-35deg);
}

nav h3{
    margin:0;
    padding:0;
    color:white;
}
.eyecatcher{
    background:url(../img/books-1283866_1920.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:600px;
    width:100%;
}